@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Engineer @ViewData["Engineer"]</p>

<address>
    <strong>More information: </strong> <a href= "gean.zanoni@linkedin.com"> Z Engineering  </a>
</address>
